/*
==================
Common styless
==================
*/


/*
==================
Heder styless
==================
*/

/*logo styless start*/
.logo
{

}
        
.studio-main
{
        
        font-family: 'Raleway';
        font-weight: 800;
        font-size: 18px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        line-height: 1.17px;
       color: #4D5AE5;

}
.studio-dark
{   
        font-family: 'Raleway';
        font-weight: 800;
        font-size: 18px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        line-height: 1.17px;
        color: #2E2F42;

}
.studio-light
{
    color: #F4F4FD;

}

/*logo styless end*/
.header-ul-li
{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #2E2F42;
}
.address
{
font-style: normal;
}
.address-link:hover,
.address-link:focus
{
   
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #434455;
        


}
.button
{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;

}



/*
==================
Hero styless
==================
*/


.main 
{

}

.section 
{

}
.section hero
{
    
        position: absolute;
        width: 1440px;
        height: 600px;
        left: 0px;
        top: 72px;
        
}
        

        
.Solutions
{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 60px;
        color: #FFFFFF;
}

/*
==================
section
==================
*/

.overview
{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #2E2F42;
}


.made
{
       font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        text-align: center;
        letter-spacing: 0.02em;
        line-height: 1.11
        text-transform: capitalize;
        color: #2E2F42;
}
.team
{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        color: #2E2F42;
}
.name
{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #2E2F42;
}
.profession
{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #434455;

}
/*
==================
section portfolio
==================
*/
.style-color
{
       
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 12px 24px;
        width: 69px;
        height: 48px;

        background: #404BBF;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        
        

}
.Web-Site
{
        box-sizing: border-box;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 24px;

        width: 116px;
        height: 48px;

        background: #F4F4FD;
       
        border: 1px solid #E7E9FC;
        border-radius: 4px;
}


/*
==================
footer section
==================
*/
.footer 
{
        position: absolute;
        background: #2E2F42;

}
.Increase
{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #F4F4FD;
}