/*
==================
Common styless
==================
*/
:root
{
        --color1:#434455;
        --color2: #FFFFFF;
        --color3:#4D5AE5;
        --color4:#2E2F42;
}

.body
{
        font-family: 'Roboto',sans-serif;
        color: #434455;
        background-color:#FFFFFF;


       

}
/*
==================
Heder styless
==================
*/

.Header-nav
{

}
.web-logo
{
Font family: Raleway;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;

}
.studio-dark
{
   color: #2E2F42
}
/*
==================
Hero styless
==================
*/





/*
==================
section
==================
*/


/*
==================
section portfolio
==================
*/

/*
==================
footer section
==================
*/
